@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", serif;
  font-weight: 400;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansBold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansLight.ttf") format("opentype");
  font-weight: 300; /* light는 일반적으로 300의 폰트 가중치에 해당합니다. */
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansMedium.ttf") format("opentype");
  font-weight: 500; /* medium은 일반적으로 500의 폰트 가중치에 해당합니다. */
  font-style: normal;
}
@font-face {
  font-family: "mapo";
  src: url("/font/MapoBackpacking.ttf") format("opentype");
  font-weight: 500; /* medium은 일반적으로 500의 폰트 가중치에 해당합니다. */
  font-style: normal;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#fullpage {
  position: relative;
  top: 0px;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.fullsection {
  width: 100%;
  height: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

.inner {
  padding: 0 60px 60px;
}

.pos {
  position: relative;
  width: 100%;
}
.pos .bot {
  position: absolute;
  bottom: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.fl_le {
  float: left;
}

.fl_ri {
  float: right;
}

.flex {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}
.flex_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: 1;
}
.mart1 {
  margin-top: 1px;
}

.marl1 {
  margin-left: 1px;
}

.mart2 {
  margin-top: 2px;
}

.marl2 {
  margin-left: 2px;
}

.mart3 {
  margin-top: 3px;
}

.marl3 {
  margin-left: 3px;
}

.mart4 {
  margin-top: 4px;
}

.marl4 {
  margin-left: 4px;
}

.mart5 {
  margin-top: 5px;
}

.marl5 {
  margin-left: 5px;
}

.mart6 {
  margin-top: 6px;
}

.marl6 {
  margin-left: 6px;
}

.mart7 {
  margin-top: 7px;
}

.marl7 {
  margin-left: 7px;
}

.mart8 {
  margin-top: 8px;
}

.marl8 {
  margin-left: 8px;
}

.mart9 {
  margin-top: 9px;
}

.marl9 {
  margin-left: 9px;
}

.mart10 {
  margin-top: 10px;
}

.marl10 {
  margin-left: 10px;
}

.mart11 {
  margin-top: 11px;
}

.marl11 {
  margin-left: 11px;
}

.mart12 {
  margin-top: 12px;
}

.marl12 {
  margin-left: 12px;
}

.mart13 {
  margin-top: 13px;
}

.marl13 {
  margin-left: 13px;
}

.mart14 {
  margin-top: 14px;
}

.marl14 {
  margin-left: 14px;
}

.mart15 {
  margin-top: 15px;
}

.marl15 {
  margin-left: 15px;
}

.mart16 {
  margin-top: 16px;
}

.marl16 {
  margin-left: 16px;
}

.mart17 {
  margin-top: 17px;
}

.marl17 {
  margin-left: 17px;
}

.mart18 {
  margin-top: 18px;
}

.marl18 {
  margin-left: 18px;
}

.mart19 {
  margin-top: 19px;
}

.marl19 {
  margin-left: 19px;
}

.mart20 {
  margin-top: 20px;
}

.marl20 {
  margin-left: 20px;
}

.mart21 {
  margin-top: 21px;
}

.marl21 {
  margin-left: 21px;
}

.mart22 {
  margin-top: 22px;
}

.marl22 {
  margin-left: 22px;
}

.mart23 {
  margin-top: 23px;
}

.marl23 {
  margin-left: 23px;
}

.mart24 {
  margin-top: 24px;
}

.marl24 {
  margin-left: 24px;
}

.mart25 {
  margin-top: 25px;
}

.marl25 {
  margin-left: 25px;
}

.mart26 {
  margin-top: 26px;
}

.marl26 {
  margin-left: 26px;
}

.mart27 {
  margin-top: 27px;
}

.marl27 {
  margin-left: 27px;
}

.mart28 {
  margin-top: 28px;
}

.marl28 {
  margin-left: 28px;
}

.mart29 {
  margin-top: 29px;
}

.marl29 {
  margin-left: 29px;
}

.mart30 {
  margin-top: 30px;
}

.marl30 {
  margin-left: 30px;
}

.mart31 {
  margin-top: 31px;
}

.marl31 {
  margin-left: 31px;
}

.mart32 {
  margin-top: 32px;
}

.marl32 {
  margin-left: 32px;
}

.mart33 {
  margin-top: 33px;
}

.marl33 {
  margin-left: 33px;
}

.mart34 {
  margin-top: 34px;
}

.marl34 {
  margin-left: 34px;
}

.mart35 {
  margin-top: 35px;
}

.marl35 {
  margin-left: 35px;
}

.mart36 {
  margin-top: 36px;
}

.marl36 {
  margin-left: 36px;
}

.mart37 {
  margin-top: 37px;
}

.marl37 {
  margin-left: 37px;
}

.mart38 {
  margin-top: 38px;
}

.marl38 {
  margin-left: 38px;
}

.mart39 {
  margin-top: 39px;
}

.marl39 {
  margin-left: 39px;
}

.mart40 {
  margin-top: 40px;
}

.marl40 {
  margin-left: 40px;
}

.mart41 {
  margin-top: 41px;
}

.marl41 {
  margin-left: 41px;
}

.mart42 {
  margin-top: 42px;
}

.marl42 {
  margin-left: 42px;
}

.mart43 {
  margin-top: 43px;
}

.marl43 {
  margin-left: 43px;
}

.mart44 {
  margin-top: 44px;
}

.marl44 {
  margin-left: 44px;
}

.mart45 {
  margin-top: 45px;
}

.marl45 {
  margin-left: 45px;
}

.mart46 {
  margin-top: 46px;
}

.marl46 {
  margin-left: 46px;
}

.mart47 {
  margin-top: 47px;
}

.marl47 {
  margin-left: 47px;
}

.mart48 {
  margin-top: 48px;
}

.marl48 {
  margin-left: 48px;
}

.mart49 {
  margin-top: 49px;
}

.marl49 {
  margin-left: 49px;
}

.mart50 {
  margin-top: 50px;
}

.marl50 {
  margin-left: 50px;
}

.mart51 {
  margin-top: 51px;
}

.marl51 {
  margin-left: 51px;
}

.mart52 {
  margin-top: 52px;
}

.marl52 {
  margin-left: 52px;
}

.mart53 {
  margin-top: 53px;
}

.marl53 {
  margin-left: 53px;
}

.mart54 {
  margin-top: 54px;
}

.marl54 {
  margin-left: 54px;
}

.mart55 {
  margin-top: 55px;
}

.marl55 {
  margin-left: 55px;
}

.mart56 {
  margin-top: 56px;
}

.marl56 {
  margin-left: 56px;
}

.mart57 {
  margin-top: 57px;
}

.marl57 {
  margin-left: 57px;
}

.mart58 {
  margin-top: 58px;
}

.marl58 {
  margin-left: 58px;
}

.mart59 {
  margin-top: 59px;
}

.marl59 {
  margin-left: 59px;
}

.mart60 {
  margin-top: 60px;
}

.marl60 {
  margin-left: 60px;
}

.mar0 {
  margin: 0 !important;
}

.tit {
  font-size: 80px;
  font-weight: bold;
  color: #000;
  font-family: "mapo";
  font-weight: 300;
  padding: 60px 0 10px 0;
}
.tit01 {
  font-family: "noto-sans";
  font-size: 22px;
  font-weight: bold;
  margin: 0 10px 20px;
  letter-spacing: 2px;
  color: #333;
}
.tit02 {
  font-size: 22px;
  font-weight: normal;
  color: #000;
  font-family: "mapo";
}
.tit03 {
  font-size: 24px;
  font-weight: normal;
  color: #000;
  font-family: "mapo";
  padding: 10px;
}

.txt01 {
  font-family: "noto-sans";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  margin: 0 10px;
  color: #333;
}
.txt02 {
  font-family: "noto-sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  margin: 0 10px;
  color: #333;
  word-break: keep-all;
}

.nav {
  font-family: "Noto Sans", serif;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  padding: 30px 70px 0 0;
}
.nav ul {
  display: flex;
}
.nav ul li a {
  display: block;
  color: #000;
  font-weight: bold;
  font-family: "noto-sans";
}
.nav ul li ~ li {
  margin-left: 15px;
}

.icon_box {
  width: 250px;
}
.icon_box .ico01 {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/css/images/icon.png");
  background-position: -72px, 0px;
  background-repeat: no-repeat;
  background-size: auto 30px;
  font-size: 0;
}
.icon_box .ico02 {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/css/images/icon.png");
  background-position: -108px, 0px;
  background-repeat: no-repeat;
  background-size: auto 30px;
  font-size: 0;
}
.icon_box .ico03 {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/css/images/icon.png");
  background-position: -179px, 0px;
  background-repeat: no-repeat;
  background-size: auto 30px;
  font-size: 0;
}
.icon_box .ico04 {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/css/images/icon.png");
  background-position: -35px, 0px;
  background-repeat: no-repeat;
  background-size: auto 30px;
  font-size: 0;
}
.icon_box .ico05 {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/css/images/icon.png");
  background-position: -250px, 0px;
  background-repeat: no-repeat;
  background-size: auto 30px;
  font-size: 0;
}
.icon_box .ico06 {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/css/images/icon.png");
  background-position: -143px, 0px;
  background-repeat: no-repeat;
  background-size: auto 30px;
  font-size: 0;
}
.icon_box .ico07 {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/css/images/icon.png");
  background-position: -215px, 0px;
  background-repeat: no-repeat;
  background-size: auto 30px;
  font-size: 0;
}

.full1 .con_wrap {
  width: 100%;
  height: 100%;
  background-image: url(/css/images/main_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
}
.full1 .con_wrap .txt_wrap {
  position: absolute;
  bottom: 50px;
  right: 60px;
}
.full1 .con_wrap .txt_wrap .sub {
  font-size: 18px;
  color: #333;
  opacity: 0.9;
  margin-bottom: 5px;
  font-family: "mapo";
}

.full2 .con_wrap .inner {
  padding-top: 80px;
}
.full2 .con_wrap .inner div .img_wrap {
  width: 40%;
  padding-left: 60px;
  box-sizing: border-box;
}
.full2 .con_wrap .inner div .img_wrap .img_box {
  width: 250px;
  padding: 60px 0 20px 0;
}
.full2 .con_wrap .inner div .img_wrap .img_box img {
  width: 100%;
}
.full2 .con_wrap .inner div .img_wrap p {
  width: 250px;
}
.full2 .con_wrap .inner div .txt_wrap .item_wrap {
  width: 50%;
}
.full2 .con_wrap .inner div .txt_wrap .item_wrap .item_con {
  padding: 15px 20px 20px 0;
}
.full2 .con_wrap .inner div .txt_wrap .item_wrap .item_con ul li {
  margin-bottom: 10px;
}
.full2 .con_wrap .inner div .txt_wrap .item_wrap .item_con ul li p span {
  display: block;
  font-family: "noto-sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  margin: 0 10px;
  color: #444;
  margin: 0;
}
.full2 .con_wrap .inner div .txt_wrap .item_wrap .item_con.key_con ul {
  flex-wrap: wrap;
  width: 230px;
  margin-left: 10px;
}
.full2 .con_wrap .inner div .txt_wrap .item_wrap .item_con.key_con ul li {
  margin-bottom: 5px;
  width: 30%;
}
.full2 .con_wrap .inner div .txt_wrap .item_wrap .item_con.key_con ul li span {
  display: block;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 8px;
  font-family: "noto-sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  margin: 0 10px;
  color: #333;
  line-height: 1;
  margin: 0;
}

.full3 .con_wrap .inner .swiper_box {
  width: 100%;
  position: relative;
}
.full3 .con_wrap .inner .swiper_box .swiper {
  width: 100%;
  position: absolute;
  top: 150px;
}
.full3 .con_wrap .inner .swiper_box .swiper .swiper-wrapper .swiper-slide .sw_item {
  display: block;
  width: 100%;
  height: auto;
}
.full3 .con_wrap .inner .swiper_box .swiper .swiper-wrapper .swiper-slide .sw_item .img_box {
  width: 100%;
  border: 1px solid #999;
  border-radius: 40px;
  overflow: hidden;
}
.full3 .con_wrap .inner .swiper_box .swiper .swiper-wrapper .swiper-slide .sw_item .img_box img {
  width: 100%;
}
.full3 .con_wrap .inner .swiper_box .swiper .swiper-wrapper .swiper-slide .sw_item .txt_box {
  text-align: center;
  padding-bottom: 50px;
}
.full3 .con_wrap .inner .swiper_box .swiper .swiper-wrapper .swiper-slide .sw_item .txt_box p ~ p {
  margin-bottom: 5px;
}