@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-image: url(images/bg_body.png);
}

.wrap {
  width: 1200px;
  margin: 50px auto;
  position: relative; /*footer 위치 기준!*/
  overflow: hidden; /*float해제를 위함*/
  /* outline: 2px solid red;*/
}
.wrap header {
  width: 210px;
  height: 848px;
  background-image: url(images/bg_head.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
  padding: 50px 40px 0;
  box-sizing: border-box;
}
.wrap header h1 a {
  height: 35px;
  display: block;
  background-image: url(images/bg_gnb.png);
  text-indent: -9999px;
  background-position: 0px 0;
  background-repeat: no-repeat;
}
.wrap header nav ul li {
  margin: 20px auto;
  /* outline: 2px solid lime;*/
}
.wrap header nav ul li a {
  /*line-height: 50px;*/
  padding: 10px 0;
  /*이럴때 선택할수 있는 공간을 잡아 줘야하기때문에 line-height를 더 많이 사용함*/
}
.wrap header nav ul li.history a {
  display: block;
  background-image: url(images/bg_gnb.png);
  text-indent: -9999px;
  background-position: -40px -38px;
  background-repeat: no-repeat;
}
.wrap header nav ul li.history a:hover {
  display: block;
  background-image: url(images/bg_gnb.png);
  text-indent: -9999px;
  background-position: -250px -38px;
  background-repeat: no-repeat;
}
.wrap header nav ul li.innovation a {
  display: block;
  background-image: url(images/bg_gnb.png);
  text-indent: -9999px;
  background-position: -40px -110px;
  background-repeat: no-repeat;
}
.wrap header nav ul li.innovation a:hover {
  display: block;
  background-image: url(images/bg_gnb.png);
  text-indent: -9999px;
  background-position: -250px -110px;
  background-repeat: no-repeat;
}
.wrap header nav ul li.new a {
  display: block;
  background-image: url(images/bg_gnb.png);
  text-indent: -9999px;
  background-position: -40px -183px;
  background-repeat: no-repeat;
}
.wrap header nav ul li.new a:hover {
  display: block;
  background-image: url(images/bg_gnb.png);
  text-indent: -9999px;
  background-position: -250px -183px;
  background-repeat: no-repeat;
}
.wrap header nav ul li.book a {
  display: block;
  background-image: url(images/bg_gnb.png);
  text-indent: -9999px;
  background-position: -40px -255px;
  background-repeat: no-repeat;
}
.wrap header nav ul li.book a:hover {
  display: block;
  background-image: url(images/bg_gnb.png);
  text-indent: -9999px;
  background-position: -250px -255px;
  background-repeat: no-repeat;
}
.wrap header nav ul li.event a {
  display: block;
  background-image: url(images/bg_gnb.png);
  text-indent: -9999px;
  background-position: -40px -317px;
  background-repeat: no-repeat;
}
.wrap header nav ul li.event a:hover {
  display: block;
  background-image: url(images/bg_gnb.png);
  text-indent: -9999px;
  background-position: -250px -317px;
  background-repeat: no-repeat;
}
.wrap section {
  /*background-color: turquoise;*/
  width: 960px;
  height: 848px;
  background: url(images/bg_main.gif) no-repeat;
  float: right;
  position: relative;
}
.wrap section a {
  display: block;
  position: absolute;
  /*여기서 폰트 사이즈 영을 만들수 있었던 이유는 요소마다 너비와 높이를 만들어 주었기 때문에 아까는 글자 크기만큼을 사용했고 지금은 아님*/
  font-size: 0;
  /*text-indent: -9999px;*/
  transition: all 0.5s;
}
.wrap section a:hover {
  background-position: right;
}
.wrap section a.con_book {
  /* background-color: firebrick;*/
  width: 296px;
  height: 320px;
  background-image: url(images/img_main01.png);
}
.wrap section a.con_history {
  width: 295px;
  height: 314px;
  background-image: url(images/img_main02.png);
  right: 0px;
  top: 267px;
}
.wrap section a.con_movie {
  width: 296px;
  height: 222px;
  background-image: url(images/img_main03.png);
  bottom: 120px;
}
.wrap section a.con_innovation {
  width: 369px;
  height: 120px;
  background-image: url(images/img_main04.png);
  bottom: 0;
  left: 298px;
}
.wrap section a.con_event {
  width: 160px;
  height: 268px;
  background-image: url(images/img_main05.png);
  bottom: 0px;
  right: 135px;
}
.wrap footer {
  clear: both;
  width: 150px;
  position: absolute;
  left: 30px;
  bottom: 50px;
  text-indent: -9999px;
}
.wrap footer address {
  background: url(images/bg_footer.png) no-repeat;
  margin-bottom: 20px;
  height: 30px;
  /*outline: 2px solid lime;*/
}
.wrap footer p {
  background: url(images/bg_footer.png) no-repeat;
  height: 40px;
  margin-bottom: 20px;
  /* outline: 2px solid lime;*/
  background-position: left -37px;
}
.wrap footer div.sns > a {
  width: 36px;
  height: 36px;
  display: block;
  background: url(images/bg_footer.png) no-repeat;
  float: left;
}
.wrap footer div.sns > a:first-child {
  margin-right: 10px;
  background-position: left bottom;
}
.wrap footer div.sns > a:last-child {
  background-position: -46px bottom;
}