
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.shadows-into-light-regular {
	font-family: "Shadows Into Light", serif;
	font-weight: 400;
	font-style: normal;
}
  
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.noto-serif {
	font-family: "Noto Serif", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "wdth" 100;
}
.roboto-light {
	font-family: "Roboto", serif;
	font-weight: 300;
	font-style: normal;
  }


  @font-face {
    font-family: 'GmarketSans';
    src: url('/fonts/GmarketSansBold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('/fonts/GmarketSansLight.ttf') format('opentype');
    font-weight: 300; /* light는 일반적으로 300의 폰트 가중치에 해당합니다. */
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('/fonts/GmarketSansMedium.ttf') format('opentype');
    font-weight: 500; /* medium은 일반적으로 500의 폰트 가중치에 해당합니다. */
    font-style: normal;
}
@font-face {
    font-family: 'mapo';
    src: url('/font/MapoBackpacking.ttf') format('opentype');
    font-weight: 500; /* medium은 일반적으로 500의 폰트 가중치에 해당합니다. */
    font-style: normal;
}