@mixin tit ($size,$col){
    font-size:$size;
    font-weight: bold;
    color:$col;
    font-family: "Roboto", sans-serif;
}

@mixin ico01 ($x,$y){
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('/css/images/icon.png');
    background-position: $x + px,$y + px;
    background-repeat: no-repeat;
    background-size: auto 30px;
    font-size: 0;
}