@import "./mixin","./common","./swiper";


html,
body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;

}

//퀵버튼
.quick {
    position:fixed;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    z-index:100000;
    li {
        width:10px;
        height:10px;
        margin-bottom:10px;
        border-radius:15px;
        border:2px solid #b0ccee;
        cursor:pointer;
        &.on{
            background:#b0ccee;
        }
    }
}


.nav{
    font-family: "Noto Sans", serif;
    position: fixed;
    top:0;
    right:0;
    z-index:9999;
    padding:30px 70px 0 0;
    ul {
        display: flex;
        li {
            a{
                display: block;
                color:#000;
                font-weight: bold;
                font-family: "noto-sans";
            }
            & ~ li {
                margin-left: 15px;
            }
        }
    }
}


//아이콘 
.icon_box{
    width: 250px;
    .ico{
        &01{
            @include ico01(-72, 0);
        }
        &02{
            @include ico01(-108, 0);
        }
        &03{
            @include ico01(-179, 0);
        }
        &04{
            @include ico01(-35, 0);
        }
        &05{
            @include ico01(-250, 0);
        }
        &06{
            @include ico01(-143, 0);
        }
        &07{
            @include ico01(-215, 0);
        }
    }
}
#fullpage{
    position:relative;
    top:0px;
    z-index:9;
    width:100%;
    height:100%;
}
.fullsection{
    width:100%;
    height:100%;
}
.full1{
    .con_wrap {
        width: 100%;
        height: 100%;
        background-image: url(/css/images/main_img.png);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: 100%;
        position: relative;
        .txt_wrap{
            position: absolute;
            bottom: 50px;
            right: 60px;
            .sub{
                font-size: 18px;
                color:#333;
                opacity: 0.9;
                margin-bottom: 5px;
                font-family: 'mapo';
            }
        }
    }
}
.full2{
    .con_wrap {
        .inner{
            padding-top: 80px;
            div{
                //justify-content: space-between;
                .img_wrap{
                    width:40%;
                    padding-left: 60px;
                    box-sizing: border-box;
                    .img_box {
                        width:250px;
                        padding:60px 0 20px 0;
                        img{
                            width:100%;
                        }
                    }
                    p{
                        width: 250px;
                    }
                }
                .txt_wrap{
                    .item_wrap{
                        // width: 500px;
                        width:50%;
                        .item_con{
                            padding: 15px 20px 20px 0;
                            ul{
                                li{
                                    margin-bottom: 10px;
                                    p{
                                        span{
                                            display: block;
                                            @include txt_noto(14px,#444);
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                            &.key_con {
                                ul{
                                    flex-wrap: wrap;
                                    width:230px;
                                    margin-left: 10px;
                                    li{
                                        margin-bottom: 5px;
                                        width:30%;
                                        span{
                                            display: block;
                                            border: 1px solid #000;
                                            border-radius: 20px;
                                            padding: 5px 8px;
                                            @include txt_noto(14px);
                                            line-height:1;
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                        }
                    } 
                } 
            }
            
        }
    }
}


.full3 {
    .con_wrap{
        .inner {   
            .swiper_box {
                width: 100%;
                position: relative;
                .swiper{
                    width: 100%;
                    position: absolute;
                    top:90px;
                    .swiper-wrapper{
                        .swiper-slide{
                            border: 1px solid #999;
                            .sw_item{
                                display: block;
                                width:100%;
                                .img_box{
                                    width:100%;
                                    img{
                                        width: 100%;
                                    }

                                }
                                .txt_box{
                                    text-align: center;
                                    padding-bottom: 50px;
                                    p{
                                        &~p{
                                            margin-top: 10px;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
             } 
        }
    }
}

//contact me

.full5{
    position: relative;
    .ex {
        @include tit (80px);
        font-weight: 500;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.form-box{
    outline: 1px solid #333333;
    //background-color: rgba(250, 250, 250, 0.5);
    
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 60px;
    .control-group{
        padding: 10px;
        .form-group{
            label{
                display: block;
                @include txt_noto(20px);
                margin: 0 0 10px;
               
            }
            input,
            textarea{
                display: block;
                width:300px;
                border: 0;
                background-color: inherit;
                border-bottom: 1px solid #333;
                padding:10px;
                &:focus{
                    outline: none;
                }
            }
        }
    }
}
.btn_wrap{
    text-align: center;
    button{
        padding:5px 10px;
        @include txt_noto(14px,$weight:bold);
    }
}