@charset "utf-8";

@import url(reset.css);
@import url(header.css);
@import url(footer.css);


section {
    width: 90%;
    max-width: 1280px;
    margin: 200px auto 100px;
    /* text-align: center;*/
   /* outline: 2px solid red;*/
}

section h2 {
    font-size: 34px;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    line-height: 80px;
    border-bottom: 2px solid #333;
}

section ul {}

section ul li {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
    box-sizing: border-box;
    /*outline: 2px solid blue;*/
    display: none;
    font-family: 'Noto Sans KR', sans-serif;
}
li:after {
    content: "";
    display: block;
    clear: both;
}

section ul li > span {
    display: inline-block;
    width: 60px;
    text-align: center;
   /* outline: 2px solid red;*/
    font-size: 25px;
    font-weight: bold;
    color: #555;

}

section ul li a {
    padding: 10px 20px;
    font-size: 18px;
    vertical-align: 20px;
    margin-left: 10px;
}
section ul li a:hover {
    text-decoration: underline;
}
section .btn {
    display: block;
    margin: 0 auto;
    border-left: 3px solid #333;
    border-bottom: 3px solid #333;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    
}



















