@charset "utf-8";

@import url(reset.css);
@import url(header.css);
@import url(footer.css);


div.tap {
    width: 100%;
    margin-top: 100px;
    border-bottom: 1px solid #eee;

}

div.tap ul:after {
    content: "";
    display: block;
    clear: both;
}

div.tap ul li {
    float: left;
    /*    width: 120px;
    text-align: center;*/
    font-size: 18px;
    line-height: 40px;
    padding: 0 30px;
    font-family: 'Noto Sans KR', sans-serif;
}

div.tap ul li:hover a {
    color: #c41230;
}

div.tap ul li.bor {
    border-bottom: 5px solid #c41230;
}

div.tap ul li.bor a {
    color: #c41230;
}

section {
    margin: 150px 0;
}

section > div > h2 {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

section ul {
    margin-top: 70px;
}

section ul li {
    border-bottom: 1px solid #ccc;
    padding: 40px 0;
}

section ul li:after {
    content: "";
    display: block;
    clear: both;
}

section ul li > a {
    display: block;
    float: left;
    margin: 0 130px;
    box-sizing: border-box;
    overflow: hidden;
    width: 360px;
    border-radius: 30px;
}

section ul li a img {
    display: block;
    /*border-radius: 30px;*/
    margin: 0 auto;
    width: 360px;
}
section ul li a img:hover {
    transform: scale(1.1);
    transition: all 0.8s;
    border-radius: 30px;
}

section ul li .img_tit {
    font-family: 'Noto Sans KR', sans-serif;
    float: left;
    width: 50%;
    margin-top: 3%;
}

section ul li .img_tit a {
    display: block;
    margin-bottom: 5px;

}

section ul li .img_tit a h2 {
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

section ul li .img_tit p {
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 50px;
    font-size: 15px;
}

section ul li .img_tit p:last-child {
    font-size: 14px;
}