@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*float을 해제하는 가상 선택자*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

/*영문폰트*/
.eng {
  font-family: "PT Serif", serif;
}

/*inner는 보통 안쪽의 너비를 잡아주는 용도로 사용하는 것*/
.inner {
  width: 90%;
  max-width: 1280px;
  /*반응형 웹을 만들때 모두에게 값을 주지않아도 max-width를 통해 정해줄수 있음*/
  margin: 0 auto;
}

.sec-tit {
  font-size: 32px;
  font-size: 2rem;
  font-family: "PT Serif", serif;
  margin-bottom: 20px;
}